<header>
  <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
  <link href="{{ asset('resources/css/main.css') }}" rel="stylesheet">
  
  <a class="header-link" href="{{ path('home')}}">Home</a>
</header>
