<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Chicago Trainlines</title>
  </head>
  <body>
    {% include 'partials/header.twig' %}

    {% block main %}
      <p>This is the base page</p>
    {% endblock %}
    
    {% include 'partials/footer.twig' %}
  </body>
</html>